### Java (Gradle/Maven) ###
.gradle/
build/
*.class    
out/
bin/     
**/application.properties

### Go ###
bin/
vendor/
go.sum 

### Python ###
__pycache__/
venv/
*.pyc
.env

### IDE (IntelliJ & VS Code) ###
.idea/
*.iml
.vscode/

### System ###
.DS_Store
Thumbs.db